.sobre-mim2 {
  margin-top: 120px;
}

.bg-pc, .bg-controle {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bg-pc {
  margin-top: 120px;
}

.descricao1 {
  color: var(--color-2);
  display: flex;
  text-align: center;
  align-items: center;
  max-width: 540px;
  margin: 0px auto;
}

.redes {
  background: var(--color-3);
  height: 300px;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  align-items: center;
}

.redes li {
  display: flex;
  padding-left: 30px; 
}

.redes li + li {
  padding-top: 30px;
}

.redes a {
  display: inline-flex;
}

.redes a p {
  display: flex;
  margin-left: 15px;
  align-items: center;
  font-weight: bold;
}

.twitch {
  margin-left: 100px;
}

.controle {
  position: absolute;
  transform: translate(60%, 30%);
  z-index: 1;
}

.redes2 {
  background: var(--color-3);
  height: 300px;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  align-items: center;
}

.redes2 li {
  display: flex;
  padding-left: 30px; 
}

.redes2 li + li {
  padding-top: 30px;
}

.redes2 a {
  display: inline-flex;
}

.redes2 a p {
  display: flex;
  margin-left: 15px;
  align-items: center;
  font-weight: bold;
}

.pc {
  position: absolute;
  transform: translate(110%, 30%);
  z-index: 1;
}

.descricao2 {
  color: var(--color-2);
  display: flex;
  text-align: center;
  align-items: center;
  max-width: 540px;
  margin: 0px auto;
}


@media (max-width: 1200px) {
  .redes a p, .redes2 a p{
    font-size: 0.75rem;
  }

  .controle {
    transform: translate(40%, 30%);
  }

  .pc {
    transform: translate(80%, 30%);
  }

  .twitch {
    margin-left: 70px;
  }

  .descricao1, .descricao2 {
    max-width: 450px;
  }
}

@media (max-width: 1000px) {
  .pc, .controle {
    max-width: 200px;
  }

  .redes a img, .redes2 a img{
    max-height: 30px;
  }

  .redes, .redes2 {
    height: 200px;
  }

  .controle {
    transform: translate(130%, 40%);
  }

  .pc {
    transform: translate(120%, 50%);
  }

  .descricao1, .descricao2 {
    max-width: 350px;
    font-size: 1rem;
  }
}

@media (max-width: 850px) {
  .sobre-mim2 {
    margin-top: 60px;
  }

  .bg-pc, .bg-controle {
    grid-template-columns: 1fr;
  }

  .redes, .redes2 {
    width: 400px;
  }

  .redes {
    justify-self: end;
  }

  .pc, .controle {
    max-width: 100px;
  }

  .controle {
    transform: translate(190%, 90%);
  }

  .pc {
    transform: translate(190%, 70%);
  }

  .bg-pc {
    margin-top: 60px;
  }

  .bg-pc .redes2 {
    order: 2;
  }

  .bg-pc p {
    order: 1;
  }

  .twitch {
    margin-left: 30px;
    max-width: 50px;
  }

  .descricao1, .descricao2 {
    margin-bottom: 60px;
    max-width: 500px;
  }
}

@media (max-width: 550px) {
  .twitch {
    display: none;
  }

  .redes, .redes2 {
    width: 300px;
  }

  .redes li, .redes2 li{
    padding-left: 15px;
  }


  .descricao1, .descricao2 {
    max-width: 350px;
    font-size: 1rem;
  }
}